# Ambiente
DJANGO_ENV=development

# Seguranca basica
DJANGO_SECRET_KEY=troque-esta-chave-em-producao
DJANGO_DEBUG=True

# Hosts e CSRF
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000

# SQLite
SQLITE_TIMEOUT=20

# Cookies e HTTPS
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
DJANGO_SECURE_HSTS_PRELOAD=True

# Logs
DJANGO_LOG_LEVEL=INFO
