# Ambiente
DJANGO_ENV=production

# Seguranca basica
DJANGO_SECRET_KEY=defina-uma-chave-forte-e-unica
DJANGO_DEBUG=False

# Hosts e CSRF
DJANGO_ALLOWED_HOSTS=seu-dominio.com,www.seu-dominio.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://seu-dominio.com,https://www.seu-dominio.com

# SQLite
SQLITE_TIMEOUT=20

# Cookies e HTTPS
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_CSRF_COOKIE_SECURE=True
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
DJANGO_SECURE_HSTS_PRELOAD=True

# Logs
DJANGO_LOG_LEVEL=INFO
