{{ form.item_catalogo.label_tag }}
{{ form.item_catalogo }}

{{ form.ordem.label_tag }}
{{ form.ordem }}

{{ form.codigo_item.label_tag }}
{{ form.codigo_item }}

{{ form.nome.label_tag }}
{{ form.nome }}

{{ form.descricao.label_tag }}
{{ form.descricao }}

{{ form.unidade_medida.label_tag }}
{{ form.unidade_medida }}

{{ form.quantidade.label_tag }}
{{ form.quantidade }}

{{ form.valor_unitario.label_tag }}
{{ form.valor_unitario }}

{{ form.desconto_valor.label_tag }}
{{ form.desconto_valor }}

{{ form.desconto_percentual.label_tag }}
{{ form.desconto_percentual }}

{{ form.acrescimo_valor.label_tag }}
{{ form.acrescimo_valor }}

{{ form.acrescimo_percentual.label_tag }}
{{ form.acrescimo_percentual }}

{{ form.observacoes.label_tag }}
{{ form.observacoes }}
